<!DOCTYPE html>
<html>
<head>
    <title>CW1 Task2 Q.4</title>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
            margin: auto;
        }
        th, td {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
        }
        th {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>

<h1>CW1 Task2 Q.4</h1>

<table>
    <tr>
        <th>URL</th>
        <th>Images Displayed</th>
    </tr>
    <tr>
        <td><a href="https://storage.googleapis.com/cw1-dev-bucket/">https://storage.googleapis.com/cw1-dev-bucket/</a></td>
        <td>All three images</td>
    </tr>
    <tr>
        <td><a href="https://storage.googleapis.com/cw1-dev-bucket/diceimg.jpg">https://storage.googleapis.com/cw1-dev-bucket/diceimg.jpg</a></td>
        <td>The first image: - Dice</td>
    </tr>
    <tr>
        <td><a href="https://storage.googleapis.com/cw1-dev-bucket/it.png">https://storage.googleapis.com/cw1-dev-bucket/it.png</a></td>
        <td>The second image: - London</td>
    </tr>
    <tr>
        <td><a href="https://storage.googleapis.com/cw1-dev-bucket/londonimg.png">https://storage.googleapis.com/cw1-dev-bucket/londonimg.png</a></td>
        <td>The third image: - I-Tech</td>
    </tr>
</table>

</body>
</html>
